*.class

# Package Files #
*.war
*.ear
/build
/bin

#Eclipse
/eclipse/*

*.mtl
*.classpath
*.project
# System Files
*.dsstore
*.metadata*

/.settings
/libs

# Gradle
/.gradle
gradle-app.setting
./gradle
build.gradle