*.class

# Package Files #
*.war
*.ear
/build
/bin

*.mtl
*.classpath
*.project
# System Files
*.dsstore
*.metadata*

/eclipse/*


/.settings
/libs

# Gradle
/.gradle
gradle-app.setting
./gradle


apikey.txt