*.class

# Package Files #
*.war
*.ear
/build
/bin

*.mtl
*.classpath
*.project
# System Files
*.dsstore
*.metadata*


/.settings
/libs

# Gradle
/.gradle
gradle-app.setting
./gradle
*.lock

apikey.txt

# Eclipes #
/eclipse/*